@model MyFristApp.Models.TaskViewModel
@{
	ViewData["Title"] = "You sure u want to delete?";
}

<h2>Are you sure?</h2>

<p>Name: @Model.Name</p>
<p>Description: @Model.Description</p>
<p>Is done?: @Model.IsCompleted</p>

<form asp-action="Deleted" method="post">
	<input type="hidden" asp-for="Id" />
	<button class="btn btn-danger">Delete</button>
</form>
